<div>
    <h2>
        <span jhiTranslate="misilApp.seminar.home.title">Seminars</span>
        <button class="btn btn-primary float-right create-seminar" [routerLink]="['/', { outlets: { popup: ['seminar-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="misilApp.seminar.home.createLabel">
            Create new Seminar
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="seminars">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="misilApp.seminar.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startTime"><span jhiTranslate="misilApp.seminar.startTime">Start Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="endTime"><span jhiTranslate="misilApp.seminar.endTime">End Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="canceled"><span jhiTranslate="misilApp.seminar.canceled">Canceled</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="published"><span jhiTranslate="misilApp.seminar.published">Published</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="place.name"><span jhiTranslate="misilApp.seminar.place">Place</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="organizedBy.name"><span jhiTranslate="misilApp.seminar.organizedBy">Organized By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="presenter.user.firstName"><span jhiTranslate="misilApp.seminar.presenter">Presenter</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let seminar of seminars ;trackBy: trackId">
                <td><a [routerLink]="['../seminar', seminar.id ]">{{seminar.id}}</a></td>
                <td>{{seminar.title}}</td>
                <td>{{seminar.startTime | date:'medium'}}</td>
                <td>{{seminar.endTime | date:'medium'}}</td>
                <td>{{seminar.canceled}}</td>
                <td>{{seminar.published}}</td>
                <td>
                    <div *ngIf="seminar.placeId">
                        <a [routerLink]="['../place', seminar.placeId  ]" >{{seminar.placeName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="seminar.organizedById">
                        <a [routerLink]="['../organizer', seminar.organizedById  ]" >{{seminar.organizerName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="seminar.presenterId">
                        <a [routerLink]="['../people', seminar.presenterId  ]" >{{seminar.presenterName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../seminar', seminar.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'seminar/'+ seminar.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'seminar/'+ seminar.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
