<div>
    <div *ngIf="!seminars">
        <div class="mx-auto">
            <p class="text-center">
                <span jhiTranslate="misilApp.seminar.messages.empty.prefix">No seminar found, do you want to create one?</span>
                <br/>
                <button class="btn btn-primary create-seminar" [routerLink]="['/', { outlets: { popup: ['seminar-new'] } }]">
                    <span class="fa fa-plus"></span>
                    <span  jhiTranslate="misilApp.seminar.home.createLabel">
                    Create new Seminar
                    </span>
                </button>
            </p>
        </div>
    </div>
    <div *ngIf="seminars" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <div class="card mb-3" *ngFor="let seminar of seminars ;trackBy: trackId">
            <div class="card-block">
                <h4 class="card-title">
                    {{seminar.title}}  
                    <small><span *ngIf="seminar.presenterId">
                        by 
                        <a [routerLink]="['/people', seminar.presenterId]">{{seminar.presenterName}}</a>
                    </span></small>
                </h4>
                <h6 class="card-subtitle mb-2 text-muted">
                    <small class="text-muted"><span class="badge badge-pill badge-warning" *ngIf="seminar.canceled"
                          jhiTranslate="misilApp.seminar.canceled">canceled</span></small>
                </h6>
                <div class="card-text">
                    <div class="row">
                        <div class="col-sm-10">
                            <dl class="row">
                                <dt class="col-sm-2"><span jhiTranslate="misilApp.seminar.startTime">Start Time</span></dt>
                                <dd class="col-sm-10">
                                    <span>{{seminar.startTime | date:'medium'}}</span>
                                </dd>
                                <dt class="col-sm-2"><span jhiTranslate="misilApp.seminar.endTime">End Time</span></dt>
                                <dd class="col-sm-10">
                                    <span>{{seminar.endTime | date:'medium'}}</span>
                                </dd>
                                <dt *ngIf="seminar.placeId" class="col-sm-2"><span jhiTranslate="misilApp.seminar.place">Place</span></dt>
                                <dd *ngIf="seminar.placeId" class="col-sm-10">
                                    <a [routerLink]="['/place', seminar.placeId]">{{seminar.placeName}}</a>
                                </dd>
                            </dl>
                            <p class="card-text">
                                <small class="text-muted">
                                    Last updated 3 mins ago<span class="card-text" *ngIf="seminar.organizedById">, 
                                    <span jhiTranslate="misilApp.seminar.organizedBy">Organized By</span>:
                                    <a [routerLink]="['/organizer', seminar.organizedById]">{{seminar.organizerName}}</a></span><span class="card-text" *ngIf="seminar.tags.length > 0 ">, 
                                    <span jhiTranslate="misilApp.seminar.tags">Tags</span>:
                                    <span *ngFor="let tags of seminar.tags; let last = last">
                                        <a [routerLink]="['/tag', tags?.id ]">{{tags.name}}</a>{{last ? '' : ', '}}
                                    </span>
                                    </span>
                                </small>
                            </p>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit"
                                [routerLink]="['../seminar', seminar.id ]"
                                class="btn btn-info">
                                    <span class="fa fa-eye"></span>
                                    <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <a href="#" class="btn btn-primary">
                                <span class="fa fa-check-square-o"></span>
                                <span class="hidden-md-down" jhiTranslate="misilApp.seminar.action.join">Join</span>
                            </a>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>
